<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="REMINDERS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/reminders.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/reminders-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="reminder" level="INFO" additivity="false">
        <appender-ref ref="REMINDERS"/>
    </logger>

</configuration>
